<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OneKnowLol.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6CF022BA1D6C33E80090309F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CF022D31D6C33E90090309F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CF022DE1D6C33E90090309F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
